/*body{
    background-image: url('../Images/germs.gif');
}*/

#title-card{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nosifer', cursive;
    color: #40D61A;
    height: 105%;
    width: 98%;
    z-index: 1;
    background-image: url('../Images/germs.gif');
}

h1{
    font-size: 100px;
    background-color: black;
}

#enter-button{
    font-size: 30px;
    font-family: 'Nosifer', cursive;
    background-color: black;
    color:#40D61A;
}

header{
    display:flex;
    justify-content: space-evenly;
    color: white;
}

.header{
    font-family: 'Nosifer', cursive;
    font-size: 30px;
    color: #40D61A;
    background-color: black;
}


#game-play{
    display:flex;
}

.syringe{
    display:none;
}

#background{
    display:flex;
    height: 633px;
    margin-left: 12.5%;
}

canvas{
    position: absolute;
    top: 120px;
    margin-left: 12.5%;
    padding: 0, 5%;
}

h2{
    font-family:'Nosifer', cursive;
    color: #40D61A;
    position: absolute;
    top: 40%;
    left: 33%;
    font-size: 50px;
    background-color: black;
}

#pop-up{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 500px;
    z-index: -1;
    left: 32%;
    top: 32%;
    line-height: 1.5;
    border: 2px solid black;
    padding: 5px;
}

.instructions{
    font-family: 'Nosifer', cursive;
    font-size: 30px;
    color: #40D61A;
    font-size: 15px;
    color: black;
}