body{
    background-color: rgb(13, 209, 13);
}


header{
    display:flex;
    justify-content: space-evenly;
    background-color: white;
    width: 90%;
    margin-left:4em;
}

p{
    font-size: 25px;
    font-family: 'Nosifer', cursive;
    font-size: 25px;
 
}

.syringe{
    display:none;
}

#background{
    display:flex;
    height: 633px;
    margin-left: 10%;
}

canvas{
    position: absolute;
    top: 100px;
    left: 10.5%;
}