body{
    background-color: rgb(3, 125, 182);
}

header{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(3, 125, 182);
    color: white;
}

p{
    font-family: 'Nosifer', cursive;
    font-size: 30px;
}

#game-play{
    display:flex;
}

.syringe{
    display:none;
}

#background{
    display:flex;
    height: 633px;
    margin-left: 12.5%;
}

canvas{
    position: absolute;
    top: 100px;
    margin-left: 12.5%;
    padding: 0, 5%;
}